<article class="cart-item">
    <div class="item-image">
        <a target="_blank" href="/products/<%= product[i].id %>">
            <img class="box-width" src="/img/products/<%= product[i].capsule %>">
        </a>
    </div>
    <div class="item-title">
        <h2 class="big-title"><%= product[i].name %></h2>
        <h4 class="small-title"><%= product[i].name %></h4>
    </div>
    <div class="item-so-i">
        <i class="fab fa-windows"></i>
        <i class="fab fa-linux"></i>
        <i class="fab fa-apple"></i>
    </div>
    <div class="item-price">
        <h2 class="big-title"><%= product[i].price %></h2>
        <h4 class="small-title"><%= product[i].price %></h4>
    </div>
    <div class="item-delete">
        <button type="submit">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</article>