<article class="unit-product" id="<%= game[i].title %>">
    <div class="game-image">
        <img class="game-img-img" src="/img/products/<%= game[i].img %>">
        <div class="ribbon">
            <% if (game[i].status[0] && game[i].status[0].name === 'IN OFFER' || game[i].status[1] && game[i].status[1].name === 'IN OFFER') { %>
                <div class="full-price crossed-out">
                    <h3 class="big-title">
                        $<%= game[i].price %>
                    </h3>
                    <h4 class="small-title">
                        $<%= game[i].price %>
                    </h4>
                </div>
                <div class="new-price">
                    <h2 class="big-title new-price-math">
                        <%= game[i].price - ((game[i].price * game[i].discount) / 100) %>
                    </h2>
                    <h3 class="small-title new-price-math">
                        <%= game[i].price - ((game[i].price * game[i].discount) / 100) %>
                    </h3>
                </div>
                <div class="discount">
                    <h2 class="big-title discount-h">
                        <%= game[i].discount %>%
                    </h2>
                    <h3 class="small-title discount-h3">
                        <%= game[i].discount %>%
                    </h3>
                </div>
            <% } else { %>
                <div class="full-price">
                    <h3 class="big-title">
                        $<%= game[i].price %>
                    </h3>
                    <h4 class="small-title">
                        $<%= game[i].price %>
                    </h4>
                </div>
            <% } %>
        </div>
    </div>
    <div class="overlay-product"></div>
    <div class="game-title">
        <h2 class="big-title">
            <%= game[i].title %>
        </h2>
    </div>
    <div class="ver-mas">
        <a href="/products/<%= game[i].id %>">
            <h3 class="big-title">
                VER MÁS
            </h3>
        </a>
    </div>
</article>