<article class="unit-product">
    <div class="game-image">
        <!-- product.card -->
        <img class="box-width" src="/img/products/<%= product[i].card %>">
        <div class="ribbon">
            <% if (product[i].discount == "true") { %>
                <!-- product.price -->
                <div class="full-price crossed-out">
                    <h3 class="big-title">
                        $<%= product[i].price %>
                    </h3>
                    <h4 class="small-title">
                        $<%= product[i].price %>
                    </h4>
                </div>
                <!-- product.discountRate -->
                <div class="discount">
                    <h2 class="big-title discount-h">
                        <%= product[i].discountRate %>%
                    </h2>
                    <h3 class="small-title discount-h3">
                        <%= product[i].discountRate %>%
                    </h3>
                </div>
                <!-- PRICE / DISCOUNT = NEW PRICE -->
                <!-- enviar resultado desde controlador -->
                <div class="new-price">
                    <h2 class="big-title">
                        $<%= product[i].price %>
                    </h2>
                    <h3 class="small-title">
                        $<%= product[i].price %>
                    </h3>
                </div>
            <% } else { %>
                <div class="full-price">
                    <!-- product.price -->
                    <h3 class="big-title">
                        $<%= product[i].price %>
                    </h3>
                    <h4 class="small-title">
                        $<%= product[i].price %>
                    </h4>
                </div>
            <% } %>
        </div>
    </div>
    <div class="overlay-product"></div>
    <div class="game-title">
        <!-- product.name -->
        <h2 class="big-title">
            <%= product[i].name %>
        </h2>
    </div>
    <div class="ver-mas">
        <!-- product.id -->
        <a href="/products/<%= product[i].id %>">
            <h3 class="big-title">
                VER MÁS
            </h3>
        </a>
    </div>
</article>