<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">
            AÑADIR ARTÍCULO
        </h3>
        <h5 class="small-title">
            AÑADIR ARTÍCULO
        </h5>
    </header>
    <form class="product-create-form" action="/products" method="POST" enctype="multipart/form-data">
        <section class="product-create-section">
            <!-- name -->
            <div class="input-box">
                <label class="label-label" for="name">
                    Nombre
                </label>
                <input class="input-text input-text-product" type="text" name="name" id="name" placeholder="PAC-MAN" required>
            </div>
            <!-- category -->
            <div class="input-box category-box">
                <% for (i = 0 ; i < 4 ; i++) { %>
                    <div class="single-category">
                        <label class="label-label" for="category<%= [i]%>">
                            Categoría <%= [i + 1] %>
                        </label>
                        <input class="input-text input-text-product" type="text" name="category" id="category<%= [i] %>" 
                        placeholder="<%= categoryPlaceholder[i] %>" required>
                    </div>
                <% } %>
            </div>
            <!-- FILES x2 -->
            <div class="input-box file-box">
                <label class="label-label file-box-label">Imágenes</label>
                <!-- img -->
                <label class="label-label input-text label-file product-file" for="img">
                    Imágen principal 1920x1080
                    <input class="input-file" type="file" name="img" id="img" accept=".jpg, .jpeg, .png, .webp">
                </label>
                <!-- card -->
                <label class="label-label input-text label-file product-file" for="card">
                    Imágen tipo tarjeta 271x377
                    <input class="input-file" type="file" name="card" id="card" accept=".jpg, .jpeg, .png, .webp">
                </label>
            </div>
            <!-- relevant -->
            <div class="input-box">
                <label class="label-label">
                    ¿Clasificar producto como "RELEVANT"?
                </label>
                <label class="label-label label-radio" for="relevant-true">
                    RELEVANT product
                    <input class="input-radio" type="radio" name="relevant" value="true" id="relevant-true" required>
                </label>
                <label class="label-label label-radio" for="relevant-false">
                    NOT relevant product
                    <input class="input-radio" type="radio" name="relevant" value="false" id="relevant-false" required>
                </label>
            </div>
            <!-- price -->
            <div class="input-box">
                <label class="label-label" for="price">
                    Precio
                </label>
                <span class="discount-indicator">
                    $
                </span>
                <input class="input-text input-price" type="text" name="price" id="price" placeholder="1999" maxlength="4" required>
            </div>
            <!-- inOffer -->
            <div class="input-box">
                <label class="label-label">
                    ¿Está éste producto en oferta?
                </label>
                <label class="label-label label-radio" for="inOffer-true">
                    Si
                    <input class="input-radio" type="radio" name="inOffer" value="true" id="inOffer-true" required>
                </label>
                <label class="label-label label-radio" for="inOffer-false">
                    No
                    <input class="input-radio" type="radio" name="inOffer" value="false" id="inOffer-false" required>
                </label>
            </div>
            <!-- discount rate -->
            <div class="input-box">
                <span class="rule-indicator">
                    *Solo si el producto está EN OFERTA:
                </span>
                <label class="label-label discount-rate-label" for="discount">
                    ¿Qué porcentaje de descuento se debe aplicar?
                </label>
                <span class="discount-indicator">
                    %
                </span>
                <input class="input-text input-discount" type="text" name="discount" id="discount" placeholder="50" maxlength="2">
            </div>
            <!-- description -->
            <div class="input-box">
                <label class="label-label" for="description">
                    Descripción extensa
                </label>
                <textarea class="text-area-product" name="description" id="description" rows="15" maxlength="3000" placeholder="Max: 1000 caracteres." required></textarea>
            </div>
            <!-- BUTTONS -->
            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1 class="big-title">
                        CREAR
                    </h1>
                    <h4 class="small-title">
                        CREAR
                    </h4>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/">
                        <h3 class="big-title">
                            CANCELAR
                        </h3>
                    </a>
                    <a href="/">
                        <h5 class="small-title">
                            CANCELAR
                        </h5>
                    </a>
                </button>
            </div>
            <button class="button-reset" type="reset">
                <h4 class="big-title">
                    Limpiar campos
                </h4>
                <h6 class="small-title">
                    Limpiar campos
                </h6>
            </button>
        </section>
    </form>
</main>
<%- include ('../partials/footer') %>