<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<script src="/js/gameCreate.js" defer>
</script>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">
            AÑADIR ARTÍCULO
        </h3>
        <h5 class="small-title">
            AÑADIR ARTÍCULO
        </h5>
    </header>
    <form
        class="product-create-form"
        action="/products"
        method="POST"
        enctype="multipart/form-data"
    >
        <section class="product-create-section">
            <!-- title -->
            <div class="input-box">
                <label class="label-label" for="title">
                    Nombre
                </label>
                <input
                    class="input-text input-text-product"
                    type="text"
                    name="title"
                    id="title"
                    placeholder="PAC-MAN"
                    required
                >
            </div>
            <!-- categories -->
            <div class="input-box">
                <label class="label-label" for="categories">
                    Categorías
                </label>
                <div class="properties-categories">
                    <% for (i = 1; i < 5; i++) { %>
                        <select
                                class="input-text properties-category"
                                name="categories"
                                required
                            >
                            <option disabled selected>
                                CATEGORÍA Nº<%= [i] %>
                            </option>
                            <% for (j = 0; j < categories.length; j++) { %>
                                <option value="<%= [j] %>">
                                    <%= categories[j].title %>
                                </option>
                            <% } %>
                        </select>
                    <% } %>
                </div>
            </div>
            <!-- platforms -->
            <div class="input-box">
                <label class="label-label">
                    Plataformas
                </label>
                <label class="label-smaller">
                    Marque las plataformas en las que éste producto está disponible
                </label>
                <div class="platform-check-box">
                    <label class="label-label label-radio label-platforms" for="windows">
                        <i class="fab fa-windows label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="windows"
                            value="0"
                        >
                    </label>
                    <label class="label-label label-radio label-platforms" for="mac-os">
                        <i class="fab fa-apple label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="mac-os"
                            value="1"
                        >
                    </label>
                    <label class="label-label label-radio label-platforms" for="linux">
                        <i class="fab fa-linux label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="linux"
                            value="2"
                        >
                    </label>
                    <label class="label-label label-radio label-platforms" for="vr-headset">
                        <i class="fas fa-vr-cardboard label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="vr-headset"
                            value="3"
                        >
                    </label>
                    <div class="error-box">

                    </div>
                </div>
            </div>
            <!-- img -->
            <div class="input-box file-box">
                <label class="label-label file-box-label">
                    Imágen
                </label>
                <label class="label-label input-text product-file" for="img">
                    <input 
                        class="input-file" 
                        type="file" 
                        name="img" 
                        id="img" 
                        accept=".jpg, .jpeg, .png, .webp"
                        required
                    >
                </label>
            </div>
            <!-- RELEVANT -->
            <div class="input-box">
                <label class="label-label">
                    ¿Pertenece a sección "RECOMENDADOS"?
                </label>
                <label class="label-label label-radio" for="relevant-true">
                    SI
                    <input
                        class="input-radio"
                        type="radio"
                        name="relevant"
                        value="true"
                        id="relevant-true"
                        required
                    >
                </label>
                <label class="label-label label-radio" for="relevant-false">
                    NO
                    <input
                        class="input-radio"
                        type="radio"
                        name="relevant"
                        value="false"
                        id="relevant-false"
                        required
                    >
                </label>
            </div>
            <!-- IN OFFER -->
            <div class="input-box">
                <label class="label-label">
                    ¿Producto "EN OFERTA"?
                </label>
                <label class="label-label label-radio" for="offer-true">
                    SI
                    <input
                        class="input-radio"
                        type="radio"
                        name="offer"
                        value="true"
                        id="offer-true"
                        required
                    >
                </label>
                <label class="label-label label-radio" for="offer-false">
                    NO
                    <input
                        class="input-radio"
                        type="radio"
                        name="offer"
                        value="false"
                        id="offer-false"
                        required
                    >
                </label>
            </div>
            <!-- price -->
            <div class="input-box">
                <label class="label-label" for="price">
                    Precio
                </label>
                <span class="discount-indicator">
                    $
                </span>
                <input 
                    class="input-text input-price"
                    type="number" 
                    name="price" 
                    id="price" 
                    placeholder="1999"
                    maxlength="4" 
                    min="1"
                    max="9999"
                    step=".01"
                    required
                >
            </div>
            <!-- discount -->
            <div class="input-box">
                <label class="label-label discount-rate-label" for="discount">
                    ¿Qué porcentaje de DESCUENTO se debe aplicar?
                </label>
                <span id="discount-span" class="discount-indicator">
                    %
                </span>
                <input
                    class="input-text input-discount"
                    type="number"
                    name="discount"
                    id="discount"
                    placeholder="50"
                    min="1"
                    max="99"
                    step="1"
                >
            </div>
            <!-- description -->
            <div class="input-box">
                <label class="label-label" for="description">
                    Descripción
                </label>
                <textarea
                    class="text-area-product"
                    name="description"
                    id="description"
                    rows="15"
                    maxlength="3000"
                    required
                ></textarea>
            </div>
            <!-- BUTTONS -->
            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1 class="big-title">
                        CREAR
                    </h1>
                    <h4 class="small-title">
                        CREAR
                    </h4>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/">
                        <h3 class="big-title">
                            CANCELAR
                        </h3>
                    </a>
                    <a href="/">
                        <h5 class="small-title">
                            CANCELAR
                        </h5>
                    </a>
                </button>
            </div>
            <button class="button-reset" type="reset">
                <h4 class="big-title">
                    Limpiar campos
                </h4>
                <h6 class="small-title">
                    Limpiar campos
                </h6>
            </button>
        </section>
    </form>
</main>
<%- include ('../partials/footer') %>