<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<script src="/js/gameCreate.js" defer>
</script>
<script type="module" src="/js/validations/product.js" defer>
</script>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">
            AÑADIR ARTÍCULO
        </h3>
        <h5 class="small-title">
            AÑADIR ARTÍCULO
        </h5>
    </header>
    <form
        class="product-create-form"
        action="/products"
        method="POST"
        enctype="multipart/form-data"
        novalidate
    >
        <section class="product-create-section">
            <!-- title -->
            <div class="input-box">
                <label class="label-label" for="title">
                    Nombre
                </label>
                <input
                    class="input-text
                        input-text-product
                        <%= locals.errors && errors.title ? 'error-input' : null %>"
                    type="text"
                    name="title"
                    id="title"
                    placeholder="PAC-MAN"
                    value="<%= locals.oldData && oldData.title ? oldData.title : null %>"
                >
                <div class="error-box" id="title">

                </div>
                <% if (locals.errors && errors.title) { %>
                    <span class="error-msg">
                        <%= errors.title.msg %>
                    </span>
                <% } %>
            </div>
            <!-- categories -->
            <div class="input-box">
                <label class="label-label" for="categories">
                    Categorías
                </label>
                <div class="properties-categories">
                    <% for (i = 1; i < 5; i++) { %>
                        <select
                            class="input-text
                                properties-category
                                <%= locals.errors && errors.categories ? 'error-input' : null %>"
                            name="categories"
                            id="<%= [i] %>"
                        >
                            <option disabled selected value="0">
                                CATEGORÍA Nº<%= [i] %>
                            </option>
                            <% for (j = 0; j < categories.length; j++) { %>
                                <option
                                    value="<%= [j] %>"
                                >
                                <!-- how to persist data?? -->
                                    <%= categories[j].title %>
                                </option>
                            <% } %>
                        </select>
                    <% } %>
                </div>
                <% for (i = 1; i < 5; i++) { %>
                    <div class="error-box" id="categories<%= [i] %>">
    
                    </div>
                <% } %>
                <% if (locals.errors && errors.categories) { %>
                    <span class="error-msg">
                        <%= errors.categories.msg %>
                    </span>
                <% } %>
            </div>
            <!-- platforms -->
            <div class="input-box">
                <label class="label-label">
                    Plataformas
                </label>
                <label class="label-smaller">
                    Marque las plataformas en las que éste producto está disponible
                </label>
                <div class="platform-check-box">
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="windows"
                    >
                        <i class="fab fa-windows label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="windows"
                            value="0"
                            <%= locals.oldData && oldData.platforms === '0' || locals.oldData && Array.isArray(oldData.platforms) && oldData.platforms.includes('0') ? 'checked' : null %>
                        >
                    </label>
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="mac-os"
                    >
                        <i class="fab fa-apple label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="mac-os"
                            value="1"
                            <%= locals.oldData && oldData.platforms === '1' || locals.oldData && Array.isArray(oldData.platforms) && oldData.platforms.includes('1') ? 'checked' : null %>
                        >
                    </label>
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="linux"
                    >
                        <i class="fab fa-linux label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="linux"
                            value="2"
                            <%= locals.oldData && oldData.platforms === '2' || locals.oldData && Array.isArray(oldData.platforms) && oldData.platforms.includes('2') ? 'checked' : null %>
                        >
                    </label>
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="vr-headset"
                    >
                        <i class="fas fa-vr-cardboard label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="vr-headset"
                            value="3"
                            <%= locals.oldData && oldData.platforms === '3' || locals.oldData && Array.isArray(oldData.platforms) && oldData.platforms.includes('3') ? 'checked' : null %>
                        >
                    </label>
                </div>
                <div class="error-box" id="platforms">

                </div>
                <% if (locals.errors && errors.platforms) { %>
                    <span class="error-msg">
                        <%= errors.platforms.msg %>
                    </span>
                <% } %>
            </div>
            <!-- img -->
            <div class="input-box file-box">
                <label class="label-label file-box-label">
                    Imágen
                </label>
                <label 
                    class="label-label
                        input-text
                        product-file
                        <%= locals.errors && errors.img ? 'error-input' : null %>"
                    id="img-label"
                    for="img"
                >
                    <input 
                        class="input-file"
                        type="file"
                        name="img"
                        id="img"
                    >
                </label>
                <div class="error-box" id="img">

                </div>
                <% if (locals.errors && errors.img) { %>
                    <span class="error-msg">
                        <%= errors.img.msg %>
                    </span>
                <% } %>
            </div>
            <!-- RELEVANT -->
            <div class="input-box">
                <label class="label-label">
                    ¿Pertenece a sección "RECOMENDADOS"?
                </label>
                <label
                    class="label-label
                        label-radio
                        label-relevant
                        <%= locals.errors && errors.relevant ? 'error-input' : null %>"
                    for="relevant-true"
                >
                    SI
                    <input
                        class="input-radio"
                        type="radio"
                        name="relevant"
                        value="true"
                        id="relevant-true"
                        <%= locals.oldData && oldData.relevant === 'true' ? 'checked' : null %>
                    >
                </label>
                <label
                    class="label-label
                        label-radio
                        label-relevant
                        <%= locals.errors && errors.relevant ? 'error-input' : null %>"
                    for="relevant-false"
                >
                    NO
                    <input
                        class="input-radio"
                        type="radio"
                        name="relevant"
                        value="false"
                        id="relevant-false"
                        <%= locals.oldData && oldData.relevant === 'false' ? 'checked' : null %>
                    >
                </label>
                <div class="error-box" id="relevant">

                </div>
                <% if (locals.errors && errors.relevant) { %>
                    <span class="error-msg">
                        <%= errors.relevant.msg %>
                    </span>
                <% } %>
            </div>
            <!-- IN OFFER -->
            <div class="input-box">
                <label class="label-label">
                    ¿Producto "EN OFERTA"?
                </label>
                <label
                    class="label-label
                        label-radio
                        label-offer
                        <%= locals.errors && errors.offer ? 'error-input' : null %>"
                    for="offer-true"
                >
                    SI
                    <input
                        class="input-radio"
                        type="radio"
                        name="offer"
                        value="true"
                        id="offer-true"
                        <%= locals.oldData && oldData.offer === 'true' ? 'checked' : null %>
                    >
                </label>
                <label
                    class="label-label
                        label-radio
                        label-offer
                        <%= locals.errors && errors.offer ? 'error-input' : null %>"
                    for="offer-false"
                >
                    NO
                    <input
                        class="input-radio"
                        type="radio"
                        name="offer"
                        value="false"
                        id="offer-false"
                        <%= locals.oldData && oldData.offer === 'false' ? 'checked' : null %>
                    >
                </label>
                <div class="error-box" id="offer">

                </div>
                <% if (locals.errors && errors.offer) { %>
                    <span class="error-msg">
                        <%= errors.offer.msg %>
                    </span>
                <% } %>
            </div>
            <!-- price -->
            <div class="input-box">
                <label class="label-label" for="price">
                    Precio
                </label>
                <span
                    id="price-span"
                    class="discount-indicator
                        <%= locals.errors && errors.price ? 'error-span-price' : null %>"
                >
                    $
                </span>
                <input 
                    class="input-text
                        input-price
                        <%= locals.errors && errors.price ? 'error-input-price' : null %>"
                    type="number" 
                    name="price" 
                    id="price" 
                    placeholder="1999.99"
                    step=".01"
                    value="<%= locals.oldData && oldData.price ? oldData.price : null %>"
                >
                <div class="error-box" id="price">

                </div>
                <% if (locals.errors && errors.price) { %>
                    <span class="error-msg">
                        <%= errors.price.msg %>
                    </span>
                <% } %>
            </div>
            <!-- discount -->
            <div class="input-box">
                <label class="label-label discount-rate-label" for="discount">
                    ¿Qué porcentaje de DESCUENTO se debe aplicar?
                </label>
                <span 
                    id="discount-span"
                    class="discount-indicator
                        <%= locals.errors && errors.discount ? 'error-span-price' : null %>"
                >
                    %
                </span>
                <input
                    class="input-text
                        input-discount
                        <%= locals.errors && errors.discount ? 'error-input-price' : null %>"
                    type="number"
                    name="discount"
                    id="discount"
                    placeholder="50"
                    step="1"
                    value="<%= locals.oldData && oldData.discount ? oldData.discount : null %>"
                >
                <div class="error-box" id="discount">

                </div>
                <% if (locals.errors && errors.discount) { %>
                    <span class="error-msg">
                        <%= errors.discount.msg %>
                    </span>
                <% } %>
            </div>
            <!-- description -->
            <div class="input-box">
                <label class="label-label" for="description">
                    Descripción
                </label>
                <textarea
                    class="text-area-product
                        <%= locals.errors && errors.description ? 'error-input' : null %>"
                    name="description"
                    id="description"
                    rows="15"
                    maxlength="3000"
                ><%= locals.oldData && oldData.description ? oldData.description : null %></textarea>
                <div class="error-box" id="description">

                </div>
                <% if (locals.errors && errors.description) { %>
                    <span class="error-msg">
                        <%= errors.description.msg %>
                    </span>
                <% } %>
            </div>
            <!-- BUTTONS -->
            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1 class="big-title">
                        CREAR
                    </h1>
                    <h4 class="small-title">
                        CREAR
                    </h4>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/">
                        <h3 class="big-title">
                            CANCELAR
                        </h3>
                    </a>
                    <a href="/">
                        <h5 class="small-title">
                            CANCELAR
                        </h5>
                    </a>
                </button>
            </div>
            <button class="button-reset" type="reset">
                <h4 class="big-title">
                    Limpiar campos
                </h4>
                <h6 class="small-title">
                    Limpiar campos
                </h6>
            </button>
        </section>
    </form>
</main>
<%- include ('../partials/footer') %>