<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<script src="/js/gameCreate.js" defer>
</script>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">
            EDITAR ARTÍCULO
        </h3>
        <h5 class="small-title">
            EDITAR ARTÍCULO
        </h5>
    </header>
    <form
        class="product-create-form"
        action="/products/<%= editableGame.id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
    >
        <section class="product-create-section">
            <!-- ADVERTENCIA: ERRORES -->
            <% if (locals.errors) { %>
                <div class="edit-warning-box">
                    <span class="error-msg">
                        LA EDICIÓN NO SE COMPLETÓ. REVISA LOS ERRORES
                    </span>
                </div>
            <% } %>
            <!-- title -->
            <div class="input-box">
                <label class="label-label" for="title">
                    Nombre
                </label>
                <input
                    class="input-text
                        input-text-product
                        <%= locals.errors && errors.title ? 'error-input' : null %>"
                    type="text"
                    name="title"
                    id="title"
                    value="<%= editableGame.title %>"
                >
                <% if (locals.errors && errors.title) { %>
                    <span class="error-msg">
                        <%= errors.title.msg %>
                    </span>
                <% } %>
            </div>
            <!-- categories -->
            <div class="input-box">
                <label class="label-label" for="categories">
                    Categorías
                </label>
                <div class="properties-categories">
                    <% for (i = 0; i < editableGame.categories.length; i++) { %>
                        <select
                            class="input-text
                                properties-category
                                <%= locals.errors && errors.categories ? 'error-input' : null %>"
                            name="categories"
                        >
                            <option value="<%= editableGame.categories[i].id %>">
                                <%= editableGame.categories[i].title %>
                            </option>
                            <% for (j = 0; j < categories.length; j++) { %>
                                <option value="<%= [j] %>">
                                    <%= categories[j].title %>
                                </option>
                            <% } %>
                        </select>
                    <% } %>
                </div>
                <% if (locals.errors && errors.categories) { %>
                    <span class="error-msg">
                        <%= errors.categories.msg %>
                    </span>
                <% } %>
            </div>
            <!-- platforms -->
            <div class="input-box">
                <label class="label-label">
                    Plataformas
                </label>
                <label class="label-smaller">
                    Marque las plataformas en las que éste producto está disponible
                </label>
                <div class="platform-check-box">
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="windows"
                    >
                        <i class="fab fa-windows label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="windows"
                            value="0"
                            <% editableGame.platforms.forEach(platform => { %>
                                <%= platform.title == 'WINDOWS' ? 'checked' : null %>
                            <% }) %>
                        >
                    </label>
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="mac-os"
                    >
                        <i class="fab fa-apple label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="mac-os"
                            value="1"
                            <% editableGame.platforms.forEach(platform => { %>
                                <%= platform.title == 'MAC OS' ? 'checked' : null %>
                            <% }) %>
                        >
                    </label>
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="linux"
                    >
                        <i class="fab fa-linux label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="linux"
                            value="2"
                            <% editableGame.platforms.forEach(platform => { %>
                                <%= platform.title == 'LINUX' ? 'checked' : null %>
                            <% }) %>
                        >
                    </label>
                    <label 
                        class="label-label
                            label-radio
                            label-platforms
                            <%= locals.errors && errors.platforms ? 'error-input' : null %>"
                        for="vr-headset"
                    >
                        <i class="fas fa-vr-cardboard label-platforms-icon"></i>
                        <input
                            class="input-checkbox-platform"
                            type="checkbox"
                            name="platforms"
                            id="vr-headset"
                            value="3"
                            <% editableGame.platforms.forEach(platform => { %>
                                <%= platform.title == 'VR HEADSET' ? 'checked' : null %>
                            <% }) %>
                        >
                    </label>
                </div>
                <% if (locals.errors && errors.platforms) { %>
                    <span class="error-msg">
                        <%= errors.platforms.msg %>
                    </span>
                <% } %>
            </div>
            <!-- img -->
            <div class="input-box file-box">
                <label class="label-label file-box-label">
                    Imágen
                </label>
                <label 
                    class="label-label
                        input-text
                        product-file
                        <%= locals.errors && errors.img ? 'error-input' : null %>"
                    for="img"
                >
                    <img src="/img/products/<%= editableGame.img %>">
                    <input 
                        class="input-file" 
                        type="file" 
                        name="img" 
                        id="img" 
                        accept=".jpg, .jpeg, .png, .webp"
                    >
                </label>
                <% if (locals.errors && errors.img) { %>
                    <span class="error-msg">
                        <%= errors.img.msg %>
                    </span>
                <% } %>
            </div> 
            <!-- RELEVANT -->
            <div class="input-box">
                <label class="label-label">
                    ¿Pertenece a sección "RECOMENDADOS"?
                </label>
                <label
                    class="label-label
                        label-radio
                        <%= locals.errors && errors.relevant ? 'error-input' : null %>"
                    for="relevant-true"
                >
                    SI
                    <input
                        class="input-radio"
                        type="radio"
                        name="relevant"
                        value="true"
                        id="relevant-true"
                        <%= editableGame.status[0] && editableGame.status[0].id === 1 ? 'checked' : null %>
                    >
                </label>
                <label
                    class="label-label
                        label-radio
                        <%= locals.errors && errors.relevant ? 'error-input' : null %>"
                    for="relevant-false"
                >
                    NO
                    <input
                        class="input-radio"
                        type="radio"
                        name="relevant"
                        value="false"
                        id="relevant-false"
                        <%= editableGame.status[0] && editableGame.status[0].id === 1 ? null : 'checked' %>
                    >
                </label>
                <% if (locals.errors && errors.relevant) { %>
                    <span class="error-msg">
                        <%= errors.relevant.msg %>
                    </span>
                <% } %>
            </div>
            <!-- IN OFFER -->
            <div class="input-box">
                <label class="label-label">
                    ¿Producto "EN OFERTA"?
                </label>
                <label
                    class="label-label
                        label-radio
                        <%= locals.errors && errors.offer ? 'error-input' : null %>"
                    for="offer-true"
                >
                    SI
                    <input
                        class="input-radio"
                        type="radio"
                        name="offer"
                        value="true"
                        id="offer-true"
                        <%= editableGame.status[0] && editableGame.status[0].id === 2 || editableGame.status[1] && editableGame.status[1].id === 2 ? 'checked' : null %>
                    >
                </label>
                <label
                    class="label-label
                        label-radio
                        <%= locals.errors && errors.offer ? 'error-input' : null %>"
                    for="offer-false"
                >
                    NO
                    <input
                        class="input-radio"
                        type="radio"
                        name="offer"
                        value="false"
                        id="offer-false"
                        <%= editableGame.status[0] && editableGame.status[0].id === 2 || editableGame.status[1] && editableGame.status[1].id === 2 ? null : 'checked' %>
                    >
                </label>
                <% if (locals.errors && errors.offer) { %>
                    <span class="error-msg">
                        <%= errors.offer.msg %>
                    </span>
                <% } %>
            </div>
            <!-- price -->
            <div class="input-box">
                <label class="label-label" for="price">
                    Precio
                </label>
                <span
                    class="discount-indicator
                        <%= locals.errors && errors.price ? 'error-span-price' : null %>"
                >
                    $
                </span>
                <input 
                    class="input-text
                        input-price
                        <%= locals.errors && errors.price ? 'error-input-price' : null %>"
                    type="number"
                    name="price"
                    id="price"
                    placeholder="1999.99"
                    step=".01"
                    value="<%= editableGame.price %>"
                >
                <% if (locals.errors && errors.price) { %>
                    <span class="error-msg">
                        <%= errors.price.msg %>
                    </span>
                <% } %>
            </div>
            <!-- discount -->
            <div class="input-box">
                <label class="label-label discount-rate-label" for="discount">
                    ¿Qué porcentaje de DESCUENTO se debe aplicar?
                </label>
                <span 
                    id="discount-span"
                    class="discount-indicator
                        <%= locals.errors && errors.discount ? 'error-span-price' : null %>"
                >
                    %
                </span>
                <input
                    class="input-text
                        input-discount
                        <%= locals.errors && errors.discount ? 'error-input-price' : null %>"
                    type="number"
                    name="discount"
                    id="discount"
                    placeholder="50"
                    step="1"
                    value="<%= editableGame.discount %>"
                >
                <% if (locals.errors && errors.discount) { %>
                    <span class="error-msg">
                        <%= errors.discount.msg %>
                    </span>
                <% } %>
            </div>
            </div>
            <!-- description -->
            <div class="input-box">
                <label class="label-label" for="description">
                    Descripción
                </label>
                <textarea 
                    class="text-area-product
                        <%= locals.errors && errors.description ? 'error-input' : null %>"
                    name="description"
                    id="description"
                    rows="15"
                    maxlength="3000"
                ><%= editableGame.description %></textarea>
                <% if (locals.errors && errors.description) { %>
                    <span class="error-msg">
                        <%= errors.description.msg %>
                    </span>
                <% } %>
            </div>
            <!-- BUTTONS -->
            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1 class="big-title">
                        EDITAR
                    </h1>
                    <h4 class="small-title">
                        EDITAR
                    </h4>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/products/<%= editableGame.id %>">
                        <h3 class="big-title">
                            CANCELAR
                        </h3>
                    </a>
                    <a href="/products/<%= editableGame.id %>">
                        <h5 class="small-title">
                            CANCELAR
                        </h5>
                    </a>
                </button>
            </div>
        </section>
    </form>
</main>
<%- include ('../partials/footer') %>