<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<script src="/js/finalPriceMath.js" defer>
</script>
<script src="/js/gameIndex.js" defer>
</script>
<main class="main-main">
    <header class="main-title flex-title">
        <div class="title-header-box">
            <h3 class="big-title">
                TODOS LOS TÍTULOS
            </h3>
            <h5 class="small-title">
                TODOS LOS TÍTULOS
            </h5>
        </div>
        <div class="store-control-box">
            <% if (locals.user && user.admin == 1) { %>
                <a href="/products/create" class="store-control-link">
                    <i class="fas fa-plus-square"></i>      
                </a>
            <% } %>
            <a href="/products/cart" class="store-control-link">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </header>
    <section class="search-bar-section">
        <form class="search-bar-box" action="/product/results" method="GET">
            <input
                class="search-bar"
                type="text"
                name="query"
                placeholder="Buscar un juego..."
            >
            <button class="search-button" type="submit">
                <h3 class="big-title">
                    <i class="fas fa-search"></i>
                </h3>
                <h5 class="small-title">
                    <i class="fas fa-search"></i>
                </h5>
            </button>
        </form>
    </section>
    <section class="main-section last-section">
        <% for (i = 0; i < games.length; i++) { %>
            <%- include('../products/partials/game', { game: games } ) %>
        <% } %>
    </section>
    <section class="product-page last-section">
        <form method="GET" action='/products/<%= realParam == 1 || realParam == 0 ? null : realParam -1 %>'>
            <button class="change-page-button" type="submit">
                <h1 class="big-title">
                    <i class="fas fa-caret-left"></i>
                </h1>
                <h3 class="small-title">
                    <i class="fas fa-caret-left"></i>
                </h3>
            </button>
        </form>
        <div class="current-page">
            <h1 class="big-title">
                <%= realParam ? realParam : 1 %>
            </h1>
            <h3 class="small-title">
                <%= realParam ? realParam : 1 %>
            </h3>
        </div>
        <form method="GET" action='/products/<%= realParam == undefined ? realParam = 1 : realParam + 1 %>'>
            <button class="change-page-button" type="sumbit">
                <h1 class="big-title">
                    <i class="fas fa-caret-right"></i>
                </h1>
                <h3 class="small-title">
                    <i class="fas fa-caret-right"></i>
                </h3>
            </button>
        </form>
    </section>
</main>
<%- include ('../partials/footer') %>