<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main class="main-main">
    <section class="show-section">
        <section class="show-img">
            <img class="image-image box-width" src="/img/products/<%= product.img %>">
            <img class="card-image box-width" src="/img/products/<%= product.card %>">
        </section>
        <section class="show-main">
            <header class="show-title show-title-game-title">
                <h2 class="big-title">
                    <%= product.name %>
                </h2>
                <h4 class="small-title">
                    <%= product.name %>
                </h4>
            </header>
            <article class="show-description">
                <p>
                    <%= product.description %>
                    <a class="read-more-c" href="#read-more">
                        MÁS INFO
                    </a>
                </p>
            </article>
        </section>
        <section class="show-category">
            <header class="show-title category-title">
                <h3 class="big-title big-title-category">
                    CATEGORÍAS
                </h3>
                <h6 class="small-title">
                    CATEGORÍAS
                </h6>
            </header>
            <article class="category-box">
                <% productCategory.forEach(category => { %>
                    <div class="category-single-box">
                        <p class="category-text">
                            <%= category %>
                        </p>
                    </div>
                <% }); %>
            </article>
        </section>
        <% if (product.discount === true) { %>
            <header class="show-title offer-title">
                <h2 class="big-title">
                    ¡OFERTA ESPECIAL!
                </h2>
                <h4 class="small-title">
                    ¡OFERTA ESPECIAL!
                </h4>
            </header>
            <section class="offer-display">
                <div class="offer-display-box original-price">
                    <h2 class="big-title">
                        $<%= product.price %>
                    </h2>
                    <h5 class="small-title">
                        $<%= product.price %>
                    </h5>
                </div>
                <div class="offer-display-box">
                    <h2 class="big-title">
                        <%= product.discountRate %>%
                    </h2>
                    <h5 class="small-title">
                        <%= product.discountRate %>%
                    </h5>
                </div>
                <div class="offer-display-box te-ahorras">
                    <p>
                        AHORRAS $<%= moneySaved %>!
                    </p>
                </div>
            </section>
        <% } %>
        <section class="pagas-box">
            <h1 class="big-title">
                PAGAS
            </h1>
            <h3 class="small-title">
                PAGAS
            </h3>
        </section>
        <section class="purchase-display">
            <div class="purchase-price-box">
                <h2 class="big-title">
                    $<%= product.discount === true ? product.finalPrice : product.price %>
                </h2>
                <h4 class="small-title">
                    $<%= product.discount === true ? product.finalPrice : product.price %>
                </h4>
            </div>
            <a class="purchase-button-box" href="/products/cart">
                <h2 class="big-title">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-money-bill-wave"></i>
                    <i class="fas fa-credit-card"></i>
                </h2>
                <h4 class="small-title">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-money-bill-wave"></i>
                    <i class="fas fa-credit-card"></i>
                </h4>
            </a>
        </section>
        <section class="show-long-description" id="read-more">
            <header class="show-title">
                <h3 class="big-title">
                    MÁS SOBRE <%= product.name %>
                </h3>
                <h5 class="small-title">
                    MÁS SOBRE <%= product.name %>
                </h5>
            </header>
            <article class="show-description long-description">
                <p>
                    <%= product.longDescription %>
                </p>
            </article>
        </section>
    </section>
    <section class="admin-main-box">
        <div class="admin-edit-box">
            <button class="admin-button-edit" type="button">
                <a href="/products/<%= product.id %>/edit %>">
                    EDITAR
                </a>
            </button> 
        </div>
        <form class="admin-delete-box" action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <button class="admin-button-delete" type="submit">
                ELIMINAR
            </button>
        </form>
    </section>
</main>
<%- include('../partials/footer')%>