<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Main del producto -->
<main class="main-main">
    <div class="producto">    
        <H1 class="hades"><%= product.name %></H1>
        <!-- Imagen, texto y boton comprar -->
        <div class="presentacion">
            <div>
                <img class="imagen-principal" src="/img/products/capsule/<%= product.capsule %>"> 
            </div>
            <div class="descripcion">
        <p><%= product.description %></p>
        <div class="precio-boton">
            <p><%= product.price %></p>
            <button type="button"><a href="/cart">Agregar al carrito</a></button>
        </div>
        </div>
    </div>
    <!-- Detalles del juego e imagen -->
    <div class="sobre-el-juego">
        <p><%= product.longDescription %>
        <img class="imagen-dos" src="/img/products/img/<%= product.img %>" alt="Hades" width= 50%>
    </div>
    <!-- Requisitos -->
    <div class="requisitos">
        <h4>Requisitos del sistema</h4>
        <div class="columnas">

            <h5 class="minimo-requisito">MÍNIMO:</h5>
            <ul>
                <li>SO: Windows 7 SP1</li>
                <li>Procesador: Dual Core 2.4 GHz</li>
                <li>Memoria: 4 GB de RAM</li>
                <li>Gráficos: 1GB VRAM / DirectX 10+ support</li>
                <li>Almacenamiento: 15 GB de espacio disponible</li>
            </ul>

            <h5 class="minimo-requisito">RECOMENDADO:</h5>
            <ul>
                <li>SO: Windows 7 SP1</li>
                <li>Procesador: Dual Core 3.0 GHz+</li>
                <li>Memoria: 8 GB de RAM</li>
                <li>Gráficos: 2GB VRAM / DirectX 10+ support</li>
                <li>Almacenamiento: 20 GB de espacio disponible</li>
            </ul>
        </div>
            <p class="final">© Supergiant Games, LLC 2020. All rights reserved.</p>
    </div>
</div>
</main>

<%- include('../partials/footer')%>