<%- include ('./partials/head') %>
<%- include ('./partials/header') %>

<main class="main-main">
    <% for (i = 0; i < categories.length; i++) { %>
        <span style="color: red;">
            <%= categories[i].id %>
        </span>
        <h1 style="color: black;">
            <%= categories[i].title %>
        </h1>
    <% } %>
</main>

<%- include ('./partials/footer') %>