
    <%- include('./partials/head')%>

    <%- include('./partials/header')%>

<!-- Main del home -->
<main class="main-main">
    <!-- Título ofertas -->
    <header class="main-title" id="first-title">
        <h3 class="big-title">AUTUMN SALE</h3>
        <h4 class="small-title">AUTUMN SALE</h4>
    </header>

    <!-- Sección de prueba -->
    <!-- <section class="main-section"> -->
        
        <!-- <% for (i = 0 ; i < games.length ; i++) { %> -->
        <!-- <article class="unit-product"> -->
            <!-- <a href="product/<%= games[i].title %>"> -->
                <!-- Imágen -->
                <!-- <div class="game-image"> -->
                    <!-- <img src="<%= games[i].img %>" alt="hades"> -->
                    <!-- Nuevo precio -->
                    <!-- <div class="new-price"> -->
                        <!-- <h2 class="big-title"><%=  %></h2> -->
                        <!-- <h3 class="small-title"><%=  %></h3> -->
                    <!-- </div> -->
                    <!-- Cinta -->
                    <!-- <div class="ribbon"> -->
                        <!-- <div class="full-price crossed-out"> -->
                            <!-- <h3 class="big-title"><%= games[i].price %></h3> -->
                            <!-- <h4 class="small-title"><%= games[i].price %></h4> -->
                        <!-- </div> -->
                        <!-- <div class="discount"> -->
                            <!-- <h2 class="big-title"><%= games[i].discount %></h2> -->
                            <!-- <h3 class="small-title"><%= games[i].discount %></h3> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="overlay-product"></div> -->
                <!-- <div class="ver-mas"> -->
                    <!-- <h3>VER MÁS</h3> -->
                <!-- </div> -->
            <!-- </a> -->
        <!-- </article> -->
        <!-- <% } %> -->

    <!-- </section> -->
    
    <!-- Sección de ofertas -->
    <section class="main-section">

        <!-- HADES -->
        <article class="unit-product">
            <a href="/product/Hades">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/hades-card.jpg" alt="hades">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$139.99</h2>
                        <h3 class="small-title">$139.99</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$279.99</h3>
                            <h4 class="small-title">%279.99</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                <div class="overlay-product"></div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a>
        </article>

        <!-- CYBERPUNK -->
        <article class="unit-product">
            <a href="/productDetailCyberpunk">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/cyberpunk-card.jpg" alt="cyberpunk">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$1099.50</h2>
                        <h3 class="small-title">$1099.50</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$2199.00</h3>
                            <h4 class="small-title">$2199.00</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- STARDEW VALLEY -->
        <article class="unit-product">
            <a href="productDetailStardew">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/stardew-valley-card.jpg" alt="stardew-valley">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$89.99</h2>
                        <h3 class="small-title">$89.99</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$179.99</h3>
                            <h4 class="small-title">$179.99</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- SEKIRO -->
        <article class="unit-product">
            <a href="productDetailSekiro">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/sekiro-card.jpg" alt="sekiro">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$649.50</h2>
                        <h3 class="small-title">$649.50</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$1299.00</h3>
                            <h4 class="small-title">$1299.00</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h2 class="small-title">50%</h2>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- CELESTE -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/celeste-card.jpg" alt="celeste">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$112.49</h2>
                        <h3 class="small-title">$112.49</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$224.99</h3>
                            <h4 class="small-title">$224.99</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- MINECRAFT -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/minecraft-card.jpg" alt="minecraft">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$96.00</h2>
                        <h3 class="small-title">$96.00</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$192.00</h3>
                            <h4 class="small-title">$192.00</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

    </section>

    <!-- Título destacados y recomendados  -->
    <header class="main-title" id="long-title">
        <h3 class="big-title">DESTACADOS & RECOMENDADOS</h3>
        <h4 class="small-title">DESTACADOS & RECOMENDADOS</h4>
    </header>

    <!-- Sección destacados y recomendados -->
    <section class="main-section" id="last-section">

        <!-- HOLLOW KNIGHT -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/hollow-knight-card.jpg" alt="hollow-knight">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$179.99</h3>
                            <h4 class="small-title">$179.99</h4>
                        </div>
                    </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a>
        </article>

        <!-- TERRARIA -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/terraria-card.jpg" alt="terraria">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="small-title">$129.99</h3>
                            <h4 class="big-title">$129.99</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- AOE II -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/aoe-ii-card.jpg" alt="aoe-ii">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$299.00</h3>
                            <h4 class="small-title">$299.00</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- RAINBOW SIX SIEGE -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/rainbow-six-siege-card.jpg" alt="rainbow-six-siege">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$999.00</h3>
                            <h4 class="small-title">$999.00</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- COD MW -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/cod-mw-card.jpg" alt="cod-mw">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$1999.00</h3>
                            <h4 class="small-title">$1999.00</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- PORTAL -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="img/portal-card.jpg" alt="portal">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$129.99</h3>
                            <h4 class="small-title">$129.99</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

    </section>
</main>

<%- include('./partials/footer')%>