<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main class="main-main">
    <header class="main-title flex-title">
        <div class="title-header-box">
            <h3 class="big-title">
                AUTUMN SALE
            </h3>
            <h5 class="small-title">
                AUTUMN SALE
            </h5>
        </div>
        <!--  -->
        <!--  -->
        <!-- DESCOMENTAR LUEGO -->
        <%# if (locals.user) { %>
            <div class="store-control-box">
                <%# if (user.admin === true) { %>
                    <a href="/products/create" class="store-control-link">
                        <i class="fas fa-plus-square"></i>      
                    </a>
                <%# } %>
                <a href="/products/cart" class="store-control-link">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        <%# } %>
        <!-- DESCOMENTAR LUEGO -->
        <!--  -->
        <!--  -->
    </header>
    <section class="main-section last-section">
        <% for (i = 0 ; i < games.length ; i++) { %>
            <% if (games[i].status[0] && games[i].status[0].name === 'IN OFFER' ||games[i].status[1] && games[i].status[1].name === 'IN OFFER') { %>
                <%- include('./products/partials/game', { game: games } ) %>
            <% } %>
        <% } %>
    </section>
    <header class="main-title flex-title">
        <div class="title-header-box">
            <h3 class="big-title">
                DESTACADOS & RECOMENDADOS
            </h3>
            <h5 class="small-title">
                DESTACADOS & RECOMENDADOS
            </h5>
        </div>
        <% if (locals.user) { %>
            <div class="store-control-box">
                <% if (user.admin === true) { %>
                    <a href="/products/create" class="store-control-link">
                        <i class="fas fa-plus-square"></i>      
                    </a>
                <% } %>
                <a href="/products/cart" class="store-control-link">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        <% } %>
    </header>
    <section class="main-section last-section">
        <% for (i = 0 ; i < games.length ; i++) { %>
            <% if (games[i].status[0] && games[i].status[0].name === 'RELEVANT') { %>
                <%- include('./products/partials/game', { game: games } ) %>
            <% } %>
        <% } %>
    </section>
    <a href="/products">
        <header class="main-title link-title">
            <h3 class="big-title link-header">
                VER TODOS <i class="fas fa-link"></i>
            </h3>
            <h5 class="small-title link-header">
                VER TODOS <i class="fas fa-link"></i>
            </h5>
        </header>
    </a>
</main>
<%- include('./partials/footer') %>