<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-main">

    <!-- Título de la oferta -->
    <header class="main-title first-title">
        <h3 class="big-title">AUTUMN SALE</h3>
        <h5 class="small-title">AUTUMN SALE</h5>
    </header>    

    <!-- Sección de ofertas -->
    <section class="main-section last-section">
        <% for (i = 0 ; i < products.length ; i++) { %>
            <%- include('./products/partials/product',{inOffer}) %>
        <% } %>
    </section>

    <!-- Título destacados y recomendados  -->
    <header class="main-title">
        <h3 class="big-title">DESTACADOS & RECOMENDADOS</h3>
        <h5 class="small-title">DESTACADOS & RECOMENDADOS</h5>
    </header>
    <section class="main-section">
        <% for (i = 0 ; i < relevant.length ; i++) { %>
            <%- include('./products/partials/product',{relevant}) %>
        <% } %>
    </section>

    <!-- Título todos los juegos -->
    <header class="main-title">
        <h3 class="big-title">TODOS LOS TÍTULOS</h3>
        <h5 class="small-title">TODOS LOS TÍTULOS</h5>
    </header>
    <section class="main-section last-section">
        <% for (i = 0 ; i < products.length ; i++) { %>
            <%- include('./products/partials/product',{products}) %>
        <% } %>
    </section>
</main>
<%- include('./partials/footer') %>