<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">
            AUTUMN SALE
        </h3>
        <h5 class="small-title">
            AUTUMN SALE
        </h5>
    </header>
    <section class="main-section last-section">
        <% for (i = 0 ; i < inOffer.length ; i++) { %>
            <%- include('./products/partials/product', { 'product': inOffer } ) %>
        <% } %>
    </section>
    <header class="main-title">
        <h3 class="big-title">
            DESTACADOS & RECOMENDADOS
        </h3>
        <h5 class="small-title">
            DESTACADOS & RECOMENDADOS
        </h5>
    </header>
    <section class="main-section last-section">
        <% for (i = 0 ; i < relevant.length ; i++) { %>
            <%- include('./products/partials/product', { 'product': relevant } ) %>
        <% } %>
    </section>
    <a href="/products">
        <header class="main-title link-title">
            <h3 class="big-title link-header">
                VER TODOS <i class="fas fa-link"></i>
            </h3>
            <h5 class="small-title link-header">
                VER TODOS <i class="fas fa-link"></i>
            </h5>
        </header>
    </a>
</main>
<%- include('./partials/footer') %>