<div class="contact-box">
    <div class="contact-img">
        <img src="<%= us.img %>">
    </div>
    <div class="contact-data">
        <div class="contact-data-name">
            <p class="data-name">
                <%= us.name %>
            </p>
            <p class="data-surname">
                <%= us.surname %>
            </p>
        </div>
        <p class="contact-data-email">
            <%= us.email %>
        </p>
        <div class="contact-data-links">
            <a class="contact-link-box" target="_blank" href="<%= us.github %>">
                <i class="fab fa-github"></i>
            </a>
            <a class="contact-link-box" target="_blank" href="<%= us.linkedin %>">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>