<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <div class="title-header-box">
            <h3 class="big-title">
                USUARIOS
            </h3>
            <h5 class="small-title">
                USUARIOS
            </h5>
        </div>
    </header>
    <section class="main-grid">
        <div class="grid-box">
            <p class="user-data-title user-data long-data"> 
                Nombre
            </p>
            <p class="user-data-title user-data long-data">
                Apellido
            </p>
            <p class="user-data-title user-data longest-data">
                E-mail
            </p>
            <p class="user-data-title user-data short-data">
                News.
            </p>
            <p class="user-data-title user-data short-data">
                Admin
            </p>
        </div>
        <% for (i = 0 ; i < users.length ; i++) { %>
            <div class="grid-box">
                <p class="user-data long-data">
                    <%= users[i].name %>
                </p>
                <p class="user-data long-data">
                    <%= users[i].surname %>
                </p>
                <p class="user-data longest-data">
                    <%= users[i].email %>
                </p>
                <p class="user-data short-data">
                    <% if (users[i].newsletter === true) { %>
                        <i class="fas fa-check newsletter-true"></i>
                    <% } else { %>
                        <i class="fas fa-times newsletter-false"></i>
                    <% } %>
                </p>
                <form action="/users?_method=PUT" method="POST" class="short-data" id="admin-form">
                    <input 
                        type="checkbox"
                        id="admin"
                        value="true"
                        name="admin"
                        <%= users[i].admin == true ? 'checked' : 'null' %>
                    >
                </form>
            </div>
        <% } %>
        <div class="user-list-footer">
            <button class="ok-admin-button user-data" type="submit" form="admin-form"> 
                OK
            </button>
        </div>
    </section>
</main>
<%- include ('../partials/footer') %>