<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<script type="module" src="/js/validations/login.js" defer>
</script>
<main class="main-main" >
    <header class="main-title">
        <h3 class="big-title">
            INGRESA
        </h3>
        <h5 class="small-title">
            INGRESA
        </h5>
    </header>
    <form class="register-form" action="/users/login" method="POST">
        <section class="form-section">
            <!-- email -->
            <div class="input-box">
                <label class="label-label" for="email">
                    E-mail
                </label>
                <input 
                    class="input-text
                    <%= locals.errors && errors.email ? 'error-input' : null %>"
                    type="text"
                    name="email"
                    id="email"
                    value="<%= locals.email ? email : null %>"
                >
                <div class="error-box" id="email">

                </div>
                <% if (locals.errors && errors.email) { %>
                    <span class="error-msg">
                        <%= errors.email.msg %>
                    </span>
                <% } %>
            </div>
            <!-- password -->
            <div class="input-box">
                <label class="label-label" for="password">
                    Contraseña
                </label>
                <input
                    class="input-text
                    <%= locals.errors && errors.password ? 'error-input' : null %>"
                    type="password"
                    name="password"
                    id="password"
                >
                <div class="error-box" id="password">

                </div>
                <% if (locals.errors && errors.password) { %>
                    <span class="error-msg">
                        <%= errors.password.msg %>
                    </span>
                <% } %>
            </div>
            <div class="input-box">
                <label class="label-tyc label-remember" for="remember">
                    Recordarme
                    <input
                        class="input-checkbox"
                        type="checkbox"
                        name="remember"
                        id="remember"
                        value="remember"
                    >
                </label>
            </div>
            <!-- BUTTONS -->
            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1 class="big-title">
                        INGRESAR
                    </h1>
                    <h4 class="small-title">
                        INGRESAR
                    </h2>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/">
                        <h3 class="big-title">
                            CANCELAR
                        </h3>
                    </a>
                    <a href="/">
                        <h5 class="small-title">
                            CANCELAR
                        </h5>
                    </a>
                </button>
            </div>
        </section>
        <section class="image-section">
            <img class="box-width" src="/img/form-image.jpg">
        </section>
    </form>
</main>
<%- include ('../partials/footer') %>