<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main profile-main">
    <section class="profile-section">
        <div class="profile-title">
            <h1 class="big-title">
                TU PERFIL
            </h1>
            <h3 class="small-title">
                TU PERFIL
            </h3>
        </div>
        <div class="profile-cart-link">
            <h1 class="big-title">
                <a href="/products/cart">
                    Mi carrito<i class="fas fa-shopping-cart"></i>
                </a>
            </h1>
            <h3 class="small-title">
                <a href="/products/cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </h3>
        </div>
        <div class="profile-name">
            <h2>
                <%= user.name %> <%= user.surname %>
            </h2>
        </div>
        <div class="profile-avatar">
            <img src="/img/users/<%= user.avatar %>">
        </div>
        <div class="profile-more">
            <h3>
                <%= user.email %>
            </h3>
            <% if (user.newsletter == 1) { %>
                <h5>
                    Estás subscripto a nuestra newsletter
                </h5>
            <% } else { %>
                <h5>
                   No estás subscripto a nuestra newsletter
                </h5>
            <% } %>
            <h3>
                Argentina
            </h3>
        </div>
        <% if (user.games.length > 0) { %>
            <div class="profile-more profile-user-games">
                <h3 class="big-title">
                    En mi librería
                </h3>
                <h5 class="small-title">
                    En mi librería
                </h5>
                <% user.games.forEach(game => { %>
                    <p>
                        <i class="fab fa-get-pocket"></i>
                        <%= game.title %>
                    </p>
                <% }) %>
            </div>
        <% } %>
    </section>
    <footer class="user-control-footer">
        <form class="user-control-box" action="/users/delog" method="GET">
            <button class="user-control-button" type="submit">
                <h3>
                    CERRAR SESIÓN
                </h3>
            </button>
        </form>
        <form class="user-control-box" action="/users/profile/<%= user.id %>?_method=PUT" method="POST">
            <button class="user-control-button" type="submit">
                <h3>
                    EDITAR MIS DATOS
                </h3>
            </button>
        </form>
        <form class="user-control-box" action="/users/profile?_method=DELETE" method="POST">
            <button class="user-control-button user-eliminar" type="submit">
                <h3>
                    ELIMINAR MI CUENTA
                </h3>
            </button>
        </form>
    </footer>
</main>
<%- include ('../partials/footer') %>