<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<script src="/js/userProfile.js" defer>
</script>
<main class="main-main">
    <!-- perfil -->
    <section class="profile-section profile-section-profile">
        <div class="profile-title">
            <h1 class="big-title">
                TU PERFIL
            </h1>
            <h3 class="small-title">
                TU PERFIL
            </h3>
        </div>
        <div class="profile-cart-link">
            <h2 class="big-title">
                <a href="/products/cart">
                    Mi carrito<i class="fas fa-shopping-cart"></i>
                </a>
            </h2>
            <h4 class="small-title">
                <a href="/products/cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </h4>
        </div>
        <div class="profile-name">
            <h2 class="big-title">
                <%= user.name %> <%= user.surname %>
            </h2>
            <h4 class="small-title">
                <%= user.name %> <%= user.surname %>
            </h4>
        </div>
        <div class="profile-avatar">
            <img src="/img/users/<%= user.avatar %>">
        </div>
        <div class="profile-more">
            <h3 class="big-title">
                <%= user.email %>
            </h3>
            <h5 class="small-title">
                <%= user.email %>
            </h5>
            <% if (user.newsletter == 1) { %>
                <p class="profile-newsletter">
                    Estas subscripto a nuestra newsletter
                </p>
            <% } else { %>
                <p class="profile-newsletter">
                   No estás subscripto a nuestra newsletter
                </p>
            <% } %>
            <h3 class="big-title">
                <!-- user.country -->
                Argentina
            </h3>
            <h5 class="small-title">
                <!-- user.country -->
                Argentina
            </h5>
        </div>
        <% if (user.games.length > 0) { %>
            <div class="profile-more profile-user-games">
                <h2 class="big-title">
                    En mi librería
                </h2>
                <h4 class="small-title">
                    En mi librería
                </h4>
                <% user.games.forEach(game => { %>
                    <p class="profile-acquired-games">
                        <i class="fab fa-get-pocket"></i>
                        <%= game.title %>
                    </p>
                <% }) %>
            </div>
        <% } %>
    </section>
    <!-- formulario de edición -->
    <form class="profile-section profile-section-form profile-section-hide" action="/users/profile?_method=PUT" method="POST" id="edit-profile-form">
        <div class="profile-title">
            <h1 class="big-title">
                TU PERFIL
            </h1>
            <h3 class="small-title">
                TU PERFIL
            </h3>
        </div>
        <div class="profile-cart-link">
            <h2 class="big-title">
                Editando <i class="fas fa-user-edit"></i>
            </h2>
            <h4 class="small-title">
                <i class="fas fa-user-edit"></i>
            </h4>
        </div>
        <div class="profile-name edit-user-main">
            <div class="edit-user-box">
                <label class="edit-user-label" for="name">
                    Nombre
                </label>
                <input
                    class="edit-user-input"
                    type="text"
                    name="name"
                    id="name"
                    value="<%= user.name %>"
                >
            </div>
            <div class="edit-user-box">
                <label class="edit-user-label" for="surname">
                    Apellido
                </label>
                <input
                    class="edit-user-input"
                    type="text"
                    name="surname"
                    id="surname"
                    value="<%= user.surname %>"
                >
            </div>
        </div>
        <div class="profile-avatar">
            <img src="/img/users/<%= user.avatar %>">
        </div>
        <div class="profile-more">
            <h3>
                <%= user.email %>
            </h3>
            <% if (user.newsletter == 1) { %>
                <h5>
                    Estás subscripto a nuestra newsletter
                </h5>
            <% } else { %>
                <h5>
                   No estás subscripto a nuestra newsletter
                </h5>
            <% } %>
            <h3>
                Argentina
            </h3>
        </div>
    </form>
    <footer class="user-control-footer">
        <form class="user-control-box" action="/users/delog" method="GET">
            <button class="user-control-button" id="delog-button" type="submit">
                <h4 class="big-title">
                    CERRAR SESIÓN
                </h4>
                <h6 class="small-title">
                    CERRAR SESIÓN
                </h6>
            </button>
        </form>
        <div class="user-control-box">
            <button class="user-control-button edit-profile-button" type="submit" form="edit-profile-form">
                <h4 class="big-title"></h4>
                <h6 class="small-title"></h6>
            </button>
        </div>
        <form class="user-control-box" action="/users/profile?_method=DELETE" method="POST">
            <button class="user-control-button user-eliminar" id="delete-button" type="submit">
                <h4 class="big-title">
                    ELIMINAR MI CUENTA
                </h4>
                <h6 class="small-title">
                    ELIMINAR MI CUENTA
                </h6>
            </button>
        </form>
    </footer>
</main>
<%- include ('../partials/footer') %>