<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<!-- <script src="/js/userCreate.js" defer>
</script> -->
<script src="/js/validations/register.js" defer>
</script>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">
            CREA TU CUENTA
        </h3>
        <h5 class="small-title">
            CREA TU CUENTA
        </h5>
    </header>
    <form class="register-form" action="/users" method="POST" enctype="multipart/form-data">
        <section class="form-section">
            <!-- name -->
            <div class="input-box">
                <label class="label-label" for="name">
                    Nombre
                </label>
                <input
                    class="input-text"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Juan"
                    value="<%= locals.oldData && oldData.name ? oldData.name : null %>"
                >
                <div class="error-box-front" id="name">

                </div>
                <% if (locals.errors && errors.name) { %>
                    <span class="error-msg">
                        <%= errors.name.msg %>
                    </span>
                <% } %>
            </div>
            <!-- surname -->
            <div class="input-box">
                <label class="label-label" for="surname">
                    Apellido
                </label>
                <input
                    class="input-text"
                    type="text"
                    name="surname"
                    id="surname"
                    placeholder="Pérez"
                    value="<%= locals.oldData && oldData.surname ? oldData.surname : null %>"
                >
                <% if (locals.errors && errors.surname) { %>
                    <span class="error-msg">
                        <%= errors.surname.msg %>
                    </span>
                <% } %>
            </div>
            <!-- email -->
            <div class="input-box">
                <label class="label-label" for="email">
                    E-mail
                </label>
                <input
                    class="input-text"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="juan.perez@gmail.com"
                    value="<%= locals.oldData && oldData.email ? oldData.email : null %>"
                >
                <% if (locals.errors && errors.email) { %>
                    <span class="error-msg">
                        <%= errors.email.msg %>
                    </span>
                <% } %>
            </div>
            <!-- password -->
            <div class="input-box">
                <label class="label-label" for="password">
                    Contraseña
                </label>
                <input
                    class="input-text"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="********"
                >
                <% if (locals.errors && errors.password) { %>
                    <span class="error-msg">
                        <%= errors.password.msg %>
                    </span>
                <% } %>
            </div>
            <!-- passwordCheck -->
            <div class="input-box">
                <label class="label-label" for="passwordCheck">
                    Confirme su contraseña
                </label>
                <input
                    class="input-text"
                    type="password"
                    name="passwordCheck"
                    id="passwordCheck"
                    placeholder="********"
                >
                <% if (locals.errors && errors.passwordCheck) { %>
                    <span class="error-msg">
                        <%= errors.passwordCheck.msg %>
                    </span>
                <% } %>
            </div>
            <!-- avatar -->
            <div class="input-box file-box">
                <label class="label-label file-box-label">
                    Foto de perfil
                </label>
                <label class="label-label input-text product-file" for="avatar">
                    <input
                        class="input-file"
                        type="file"
                        name="avatar"
                        id="avatar"
                        accept=".jpg, .jpeg, .png, .webp"
                    >
                </label>
                <% if (locals.errors && errors.avatar) { %>
                    <span class="error-msg">
                        <%= errors.avatar.msg %>
                    </span>
                <% } %>
            </div>
            <!-- country -->
            <!-- WIP -->
            <!-- <div class="input-box">
                <label class="label-label country-label" for="country">
                    Nacionalidad
                </label>
                <div class="country-container">
                    <select
                        class="input-text select-country"
                        name="country"
                        id="country"
                    >
                    </select>
                </div>
                cuando funcione, agregarle agregarle validación
            </div> -->
            <!-- WIP -->
            <!-- newsletter -->
            <div class="input-box">
                <label class="label-label">
                    ¿Quiere subscribirse a nuestra Newsletter?
                </label>
                <label class="label-label label-radio" for="newsletter-true">
                    Si
                    <input
                        class="input-radio"
                        type="radio"
                        name="newsletter"
                        value="1"
                        id="newsletter-true"
                        <%= locals.oldData && oldData.newsletter === '1' ? 'checked' : null %>
                    >
                </label>
                <label class="label-label label-radio" for="newsletter-false">
                    No
                    <input
                        class="input-radio"
                        type="radio"
                        name="newsletter"
                        value="0"
                        id="newsletter-false"
                        <= locals.oldData && oldData.newsletter === '0' ? 'checked' : null %>
                    >
                </label>
                <% if (locals.errors && errors.newsletter) { %>
                    <span class="error-msg">
                        <%= errors.newsletter.msg %>
                    </span>
                <% } %>
            </div>
            <!-- TERMS & CONDITIONS -->
            <div class="input-box">
                <label class="label-label label-tyc">
                    He leído y acepto los 
                    <a class="terms-conditions" target="_blank" href="/terms-conditions/#terms-and-conditions">
                        términos y condiciones
                    </a>
                    <input 
                        class="input-checkbox"
                        type="checkbox"
                        name="tyc"
                    >
                </label>
                <% if (locals.errors && errors.tyc) { %>
                    <span class="error-msg">
                        <%= errors.tyc.msg %>
                    </span>
                <% } %>
            </div>
            <!-- BUTTONS -->
            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1 class="big-title">
                        CREAR
                    </h1>
                    <h4 class="small-title">
                        CREAR
                    </h4>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/">
                        <h3 class="big-title">
                            CANCELAR
                        </h3>
                    </a>
                    <a href="/">
                        <h5 class="small-title">
                            CANCELAR
                        </h5>
                    </a>
                </button>
            </div>
        </section>
        <section class="image-section">
            <img class="box-width" src="/img/form-image.jpg">
        </section>
        <button class="button-reset" type="reset">
            <h4 class="big-title">
                Limpiar campos
            </h5>
            <h6 class="small-title">
                Limpiar campos
            </h6>
        </button>
    </form>
</main>
<%- include('../partials/footer') %>